#page-map {
    width: 100vw;
    height: 100vh;

    position: absolute;
    display: flex;
}

#page-map .header {
    display: none;
}


#page-map aside {
    width: 350px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 80px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-map aside h2{
    width: 300px;
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    margin-top: 64px;
    
}
#page-map aside p {
    width: auto;
    line-height: 28px;
    margin-top: 24px;
}

#page-map aside footer {
    display: flex;
    flex-direction: column;
    
    line-height: 24px;
}

#page-map aside footer strong {
    font-weight: 800;
    
}
#page-map .leaflet-container {
    z-index: 5;
}

#page-map .create-orphanage {
    position: absolute;
    
    right: 40px;
    bottom: 40px;
    
    z-index: 10;
    
    width: 64px;
    height: 64px;
    background: #15c3d6;
    border-radius: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s;
}

#page-map .create-orphanage:hover {
    background: #17d6eb;
}
#page-map .goback {
    position: absolute;

    left: 40px;
    bottom: 40px;

    z-index: 10;

    width: 64px;
    height: 64px;
    background: #15c3d6;
    border-radius: 20px;

    display: none;
    justify-content: center;
    align-items: center;

    transition: background-color 0.3s;

}
#page-map .goback :hover {
    background: #17d6eb;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    
}

#page-map .map-popup .leaflet-popup-content {
   color: #0089a5;
   font-size: 20px;
   font-weight: bold;
   margin: 8px, 12px;
   height: 35px;

   display: flex;
   justify-content: space-between;
   align-items: center;
   
}

#page-map .map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #15c3d6;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

}

#page-map .map-popup .leaflet-popup-tip-content {
    display: none;
}
@media (max-height: 599px) {
    #page-map {
        flex-direction: column;
        position: relative;
    }
    #page-map aside {
        display: none;
    }
    #page-map .goback a{
        height: 32px;
    }
    #page-map .goback {
        display: flex;
        width: 50px;
        height: 50px;
    }
    #page-map .create-orphanage {
        width: 50px;        
        height: 50px;
    }
    
    #page-map .header {
        z-index: 6;
    
        line-height: 25px;
        padding: 10px 10px 10px 10px;
    
        margin-top: 6px;
        margin-right: 10px;
        margin-left: 50px;
    
        width: auto;
        background: #15c3d6;
        border-radius: 20px;
    
        position: absolute;
        display: flex;
        height: auto;
        font-size: 13px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
}
@media (max-width: 699px) {
#page-map {
    flex-direction: column;
    position: relative;
}
#page-map aside {
    display: none;
}
#page-map .goback {
    width: 50px;
    height: 50px;
    display: flex;
}
#page-map .goback a{
    height: 32px;
}

#page-map .create-orphanage {
    width: 50px;        
    height: 50px;
}

#page-map .header {
    z-index: 6;

    line-height: 25px;
    padding: 10px 10px 10px 10px;

    margin-top: 6px;
    margin-right: 10px;
    margin-left: 50px;

    width: auto;
    background: #15c3d6;
    border-radius: 20px;

    position: absolute;
    display: flex;
    height: auto;
    font-size: 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


}